# --- SERVER CONFIG ---
PORT=7500
NODE_ENV=vps # Valores: 'local' | 'vps'
BASE_PATH=/shokyuucards # Prefijo de ruta obligatorio

# --- DATABASE ---
MONGODB_URI=mongodb://localhost:27017/fullscreen_global
MONGODB_DB_NAME=shokyuucards_prod

# --- SECURITY ---
JWT_SECRET=tu_secreto_global
ADMIN_PASS=tu_password_admin

# --- CLOUDINARY ---
CLOUDINARY_CLOUD_NAME=tu_cloud
CLOUDINARY_API_KEY=tu_key
CLOUDINARY_API_SECRET=tu_secret

# --- DEPLOYMENT (Automatización) ---
VPS_HOST=tu_vps_ip
VPS_PORT=5752
VPS_USER=root
VPS_PASS=tu_vps_pass
GITHUB_TOKEN=ghp_...
GITHUB_REPO=usuario/repo
FTP_HOST=tu_ftp_host
FTP_USER=tu_ftp_user
FTP_PASS=tu_ftp_pass
